@model List<MovieDetail>
@{
    ViewData["Title"] = "Favorites";
}


<h1 style="text-align:center">Movie Favorites </h1>
<br>
<br>
<div class="flex">
    @foreach (MovieDetail favoriteFilm in Model)
    {
        string imgsrc = "https://image.tmdb.org/t/p/w500" + favoriteFilm.poster_path;

      <div class="flex-item">
        <img src="@imgsrc" style="width:50%" /><br>
        <h4>@favoriteFilm.title</h4>
        <h5>Run Time: @favoriteFilm.runtime</h5>
        <h5>Release Date: @favoriteFilm.release_date</h5>
        <h5>Overview: @favoriteFilm.overview</h5>
        <h5>Tag Line: @favoriteFilm.tagline</h5>
        <button onclick="document.location = '/Movie/RemoveFilm?id=@favoriteFilm.id'"> Remove this movie</button>
        <br><br><br><br>
      </div>
    }
 </div>
        @*@using (Html.BeginForm("Delete", "Movie", FormMethod.Post))
        {
            <input type="submit" class="button" value="Delete" />
        }*@




        @*Id (primary key) - int, not null, auto increment
        Original_title(Name) - Nvarchar(50)
        Genre - varchar (20)
        Runtime - int
        Release date - date
        Poster (link to photo) -  varchar(40)
        Summary / overview - nvarchar(400)
        Tagline - nvarchar(100)
        UserId(ASP.net users)- foreign key*@
