@model List<MovieDetail>
@{
    ViewData["Title"] = "Favorites";
}


<p><a href="/Movie/SearchIndex">Search For Another Movie</a>.</p>
@*
    Added CSS to enhance formatting of favorites view
*@

<h1 style="text-align:center">Movie Favorites </h1>
<br>
<br>
<div class="flex">
    @foreach (MovieDetail favoriteFilm in Model)
    {
        string imgsrc = "https://image.tmdb.org/t/p/w500" + favoriteFilm.poster_path;

        <div class="flex-item">
            @*
                Added validation for poster_path.
            *@
            @if (favoriteFilm.poster_path != null)
            {
                <img src="@imgsrc" style="width:50%" />
            }
            else
            {
                <p class="text-danger">no poster!</p>
            }
            <br>
            <h4>@favoriteFilm.title</h4>
            <h5>Runtime: @favoriteFilm.runtime minutes</h5>
            <h5>Release Date: @favoriteFilm.release_date</h5>
            <h5>Overview: @favoriteFilm.overview</h5>
            <h5>Tag Line: @favoriteFilm.tagline</h5>
            <button onclick="document.location = '/Movie/RemoveFilm?id=@favoriteFilm.id'">Remove this movie</button>
            <br><br><br><br>
        </div>
    }
</div>